@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 1440px;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    min-width: 1100px;
    padding-inline: 1%;
}

.header h1 {
    font-size: 1rem;
    font-weight: 300;
    position: relative;
}

.inner-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inner-header-left {
    display: flex;
    margin-inline-start: 3rem;
}

.inner-header-left h2 {
    font-size: 24px;
    font-weight: 400;
}

.inner-header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inner-header-right p {
    font-size: 16px;
    font-weight: 400;
    margin-inline-end: 0.75rem;
}

.inner-header-right button {
    background: 0;
    font-size: 20px;
    font-weight: 500;
    padding: 12px 16px;
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    margin-inline: 0.25rem;
}

.inner-header-right button:hover {
    cursor: pointer;
}

.worker-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.worker-info-card {
    display: flex;
    flex-direction: row;
    background-color: #EBEBEB;
    width: 280px;
    height: 94px;
    border-radius: 12px;
    margin-inline: 0.5rem;
    padding-block-start: 8px;
    padding-inline: 12px;
    justify-content: space-between;
}

.worker-info-card button {
    position: relative;
    border: 0;
    background: 0;
    width: 44px;
    height: 44px;
    left: 12px;
    bottom: 6px;
}

.worker-info-card button:hover {
    cursor: pointer;
}

.worker-info-card-text {
    display: flex;
    flex-direction: column;
}

.worker-info-card-text h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    margin-block-start: 0.5rem;
}

.worker-info-card-text h3 {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.worker-info-card-text p {
    font-size: 10px;
    font-weight: 400;
    margin: 0;
}

.status-info {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.status-info-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-inline: 1rem;
}

.small-icon {
    width: 16px;
    height: 16px;
    margin-inline-end: 0.25rem;
}

.sort-worker {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    font-size: 14px;
}

.sort-worker h3 {
    font-weight: 400;
}

.sort-worker button {
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    padding: 10px 16px;
    height: 2.5rem;
    background: 0;
}

.sort-worker button:hover {
    cursor: pointer;
}

.dates {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9rem;
    width: 57%;
    margin-inline-start: 22rem;
}

.dates-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dates-info h3 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-block-start: 0.5rem;
}

.dates-info p {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    margin-block-end: 0.5rem;
}

.worker-list {
    display: flex;
    flex-direction: column;
}

.worker-row {
    display: flex;
    flex-direction: row;
    border-block-start: 1px black solid;
    padding-block: 1%;
    justify-content: flex-start;
}

.worker-name-profession {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-inline-end: 1rem;
    color: black;
    font-size: 14px;
    font-weight: 400;
    width: 280px;
}

.name {
    margin-inline-end: 0.5rem;
    white-space: nowrap;
}

.profession {
    background-color: #FFF5E6;
    padding: 4px 8px;
    border-radius: 5px;
    height: 1rem;
}

.weeks-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-inline-start: 10px;
    justify-content: space-between;
}

.week {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.week img {
    width: 40px;
    height: auto;
}

.worker-list .worker-row:last-child {
    border-block-end: 1px black solid;
}